<!DOCTYPE html>
<html ng-app='buddaApp'>

<head>
    <meta charset='utf-8'>
    <title>WWTBS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="js/movie_controller.js"></script>
    <script src="data/data_movie.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>

<body>
<div ng-controller='movieNameCtrl'>
    <center>
    <br>
    <br>
    <br>
    <input type="string" ng-model="noun">
    <br>
    <br>
    <a class="btn" ng-click="getMovie()">Get a Movie!</a>
    <br>
    <br>
    <br>
    <a ng-href="{{link}}"><h1>{{replaced_name + year}}</h1></a>
    </center>
</div>
</body>
</html>